* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 5rem;
    padding-top: 1.3rem;
    letter-spacing: 0.2rem;
    width: 100vw;
}

h3 {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    height: 400px;
    width: 700px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.divBtn {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    justify-content: space-evenly;

}

.btn {
    padding: 0.7rem;
    width: 9rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: teal;
    color: whitesmoke;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 75, 75);
}

.btnRed {
    background-color: rgba(255, 0, 0, 0.466);
    cursor: not-allowed;
    padding: 0.7rem;
    width: 9rem;
    border-radius: 0.5rem;
    border-style: none;
    color: whitesmoke;
}

.btnRed:hover {
    
}



#btnAdd {

}

#btnRemove {

}

#btnReset {
    margin-top: 2rem;
}

footer {
    background-color: black;
    color: whitesmoke;
    height: 3rem;
    text-align: center;
    width: 100vw;
}

footer > p {
    margin-top: 1rem;
    letter-spacing: 0.12rem;
}


.blackDiv {
    width: 6rem;
    height: 6rem;
    background-color: black;
    margin: 1rem;
    border-radius: 0.5rem;
}

.shakeRed {
    background-color: rgba(255, 0, 0, 0.582);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}